body {
  display:block;
  font-size:1em;
  padding:0;
  margin:0 5pt;
  font-family:Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif
}

p {
  display:block;
  line-height:160%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1, h2, h3, h4 {
  font-weight:bold;
  line-height:30px;
  margin-top:40px;
  padding:0px
}

img {
  height: auto;
}

.testo-centrato {
  text-align: center;
}

.testo-a-destra {
  text-align: right;
}

.citazione {
  text-align: justify;
  font-style: italic;
  padding: 2rem;
}

.img-laterale {
  float: right;
  padding: 0 0 0 2em;
}
